*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: gray;
}
.btn,input{
    font: inherit;
    border-radius: .5rem;
}
input{
    width: 130px;
    padding: 5px;
    border: 2px solid black;
    letter-spacing: 1.1rem;
}
.btn{
    margin-top: 30px;
    background-color: blanchedalmond;
    cursor: pointer;
    border: none;
    padding: 10px;
}
